body {
    margin: 0;
}

main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    row-gap: 20px;
}

button {
    cursor: pointer;
    padding: 7px;
}

#purse {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#purse p {
    margin: 20px;
}

.coin {
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}